# File types #
*.sw[opn]
*.bkup
*_bkup

# Directories #
logs/
log/

# Hugo #
/public/
/resources/_gen/

# Vim / IDE #
[._]*.sw[a-p]
tags

# Specific files #
.project
.vim
.hugo_build.lock
PROJECT_NOTE

