
{{/* Section on clients and testimonials */}}
<div id="testimonials-banner" class="cf pa3 pa4-m pa5-l mw8 center mid-gray">
  <h2 class="mid-gray pv2 tc">
    Clients
  </h2>

  <div class="flex items-center justify-around">
    <div class="pa3"><img style="width:250px;" src="images/logos/rockefeller.png" alt="Rockefeller Foundation"></div>
    <div class="pa3"><img style="width:120px;" src="images/logos/gh-logo-alt.png" alt="Global.health"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/datakind.png" alt="DataKind"></div> 
  </div>
  <div class="flex items-center justify-around">
    <div class="pa3"><img style="width:150px;" src="images/logos/aspiration.png" alt="AspirationTech"></div>
    <div class="pa3"><img style="width:100px;" src="images/logos/eguide.png" alt="e-guide"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/google_org.png" alt="Google.org"></div>
  </div>
</div>
