
{{/* Section on clients and testimonials */}}
<div id="testimonials-banner" class="cf pa3 pa4-m pa5-l mw8 center mid-gray">
  <h2 class="mid-gray pv2 tc">
    Clients and Partners
  </h2>

  <div class="flex items-center justify-around">
    <div class="pa3"><img style="width:150px;" src="images/logos/gh-logo-alt.png" title="Global.health" alt="Global.health"></div>
    <div class="pa3"><img style="width:100px;" src="images/logos/contracostacounty_seal.png" title="Contra Costa County, California" alt="Contra Costa County, California"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/datakind.png" title="DataKind" alt="DataKind"></div> 
  </div>
  <div class="flex items-center justify-around">
    <div class="pa3"><img style="width:100px;" src="images/logos/eguide.png" title="E-GUIDE" alt="E-GUIDE"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/aspiration.png" title="AspirationTech" alt="AspirationTech"></div>
    <div class="pa3"><img style="width:200px;" src="images/logos/rockefeller.png" title="Rockefeller Foundation" alt="Rockefeller Foundation"></div>
  </div>
  <div class="flex items-center justify-around">
    <div class="pa3 bg-blue br3"><img style="width:125px;" src="images/logos/plentiful_logo_med_transp.png" title="Plentiful" alt="Plentiful"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/litterati_text_logo_bluetransp.png" title="Litterati.org" alt="Litterati.org"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/google_org.png" title="Google.org" alt="Google.org"></div>
  </div>
</div>
